<div class="top-video">
	<%= video_tag("top.mp4", autoplay: true, loop: true, muted: true, width: "100%", class: "top-video") %>
		<div class="signin-btn">
 			<%= link_to "さっそく始める", new_user_session_path, class: "signin-btn btn btn-outline-light rounded-pill btn-lg" %>
 		</div>
</div>

<div class="container">
	<div class="about row">
		<div class="col-8 offset-2 text-center">
			<h1>Bodeposit　~ 3つの特徴 ~</h1>
			<p>※レシピ閲覧以外は会員登録（無料）が必要です</p>
		</div>
	</div>

	<div class="top-content row">
		<div class="top-content__image col-6">
			<%= image_tag("nutrition1.jpg", width: "100%", class: "image-circle" ) %>
		</div>
		<div class="top-content__text col-6">
			<div class="text__title">
				<h3>①１分で消費・理想摂取カロリー計算！</h3>
				<p>
					以下のデータ(カロリー・栄養マクロ)を計算します <br>
					・消費量 <br>
					・増量したい時の理想摂取量 <br>
					・減量したい時の理想摂取量 <br>
				</p>
			</div>
		</div>
	</div>

	<div class="top-content row">
		<div class="top-content__text col-6 ">
			<div class="text__title">
				<h3>②面倒な摂取カロリーも自動で簡単！</h3>
				<p>
					・摂取した食べ物を記録できます <br>
					・理想摂取カロリーまでの差を随時表示します <br>
					・体重維持、増量、減量など目的に応じて管理できます<br>
				</p>
			</div>
		</div>
		<div class="top-content__image col-6">
			<%= image_tag("nutrition2.jpg", width: "100%", height: "80%", class: "image-circle" ) %>
		</div>
	</div>

	<div class="top-content row">
		<div class="top-content__image col-6">
			<%= image_tag("cook.jpg", width: "100%", class: "image-circle" ) %>
		</div>
		<div class="top-content__text col-6">
			<div class="text__title">
				<h3 class="">③健康レシピを共有しよう！</h3>
				<p>
					・マクロ栄養素に特化したレシピを共有できます<br>
					・選んだレシピのカロリーを直接記録できます<br>
					・気に入ったレシピはお気に入り登録ができます
				</p>
			</div>
		</div>
	</div>
</div>