<div class="eat container">

	<% if current_user.admin? %>
		<table class="table">
			<thead>
				<tr>
					<th>ユーザ名</th>
					<th>メールアドレス</th>
					<th>性別</th>
					<th>会員ステータス</th>
					<th>問合せ最新日時</th>
				</tr>
			</thead>
			<tbody>
				<% @users.where.not(name: "管理者").each do |user| %>
					<tr>
						<td>
							<% if user.messages.blank? %>
								<%= user.name %>
							<% else %>
								<%= link_to user.name, chat_path(user.id) %>
							<% end %>
						</td>
						<td><%= user.email %></td>
						<td><% if user.sex == "true" %>
							   男
							 <% else %>
							   女
							 <% end %>
						</td>
						<td>
							<% if user.deleted? %>
								退会会員<%= user.deleted_at %>
							<% else %>
								有効会員
							<% end %>
						</td>
						<% user.messages.each do |message| %>
							<% if message.created_at == user.messages.first.created_at %>
								<% if message.created_at.strftime("%m/%d") == Date.today.strftime("%m/%d") %>
									<td>
										<%= link_to message.created_at.strftime('%m/%d %H:%M'), chat_path(user.id) %>
									</td>
								<% else %>
									<td>
										<%= message.created_at.strftime('%m/%d %H:%M') %>
									</td>
								<% end %>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
	
		<div class="eat__calorie flex-xl-row justify-content-xl-between">
			<%= render "eats/calorie", eat_protein: @eat_protein, eat_calorie: @eat_calorie, eat_fat: @eat_fat, eat_carbo: @eat_carbo %>
		</div>

		<div class="eat__sum flex-xl-row justify-content-xl-between">
			<%= render "eats/sum", eat: @eat, eat_calorie: @eat_calorie, eat_protein: @eat_protein, eat_carbo: @eat_carbo, eat_fat: @eat_fat %>
		</div>

		<div class="col-12 text-center mt-5">
			<h3>〜材料摂取〜</h3>
		</div>
		<div class="row eat__action justify-content-center">
			<%= form_tag(user_top_path(current_user), method: :get) do %>
				<% if @genre %>
					<%= select_tag "genre_id",options_from_collection_for_select(Genre.where(status: true, user_id: current_user.id), :id, :name ), include_blank: "#{@genre.name}で絞り込み" %>
				<% else %>
					<%= select_tag "genre_id", options_from_collection_for_select(Genre.where(status: true, user_id: current_user.id), :id, :name ), include_blank: "ジャンル選択" %>
				<% end %>
				<%= submit_tag "ジャンル絞り込み" %>
			<% end %>
		</div>
		<div class="row eat__action mt-3 justify-content-center">
			<%= form_with(model: @eat, url: user_eats_path(user_id: current_user.id), method: :post, remote: true) do |f| %>
				<% if @genre %>
					<%= f.collection_select :material_id, current_user.materials.where(genre_id: @genre).order("name DESC"), :id, :name, include_blank: "材料選択" %>
				<% else %>
					<%= f.collection_select :material_id, current_user.materials.order("name DESC"), :id, :name, include_blank: "材料選択" %>
				<% end %>
				<%= f.label :"数量" %>
				<%= f.text_field :quantity, autofocus: true %>g
				<%= f.submit "Eat!", class: "button rounded-pill ml-4" %>
			<% end %>
		</div>

		<div class="eat__index row mt-5">
			<%= render "eats/index", eats: @eats %>
		</div>

		<div class="eat__history">
			<div class="col-12 text-center">
				<h3>〜過去１週間の摂取カロリー〜</h3>
			</div>
			<table class="history__index shadow-lg table table-inverse ml-auto">
				<tr class="text-center">
					<th class="w-25">日付</th>
					<th>摂取カロリー</th>
				</tr>
				<% day_count = 0 %>
				<% ago = -1 %>
				<% while day_count <= 6 do %>
					<tr class="text-center">
							<td><%= (Date.today + ago).strftime("%m/%d(%a)") %></td>
							<td><%= current_user.eats.where(created_at: (Date.today + ago).in_time_zone.all_day).sum(:calorie).to_f.round(1) %>kcal</td>
					</tr>
					<% day_count += 1 %>
					<% ago += -1 %>
				<% end %>
			</table>
		</div>

		<div class="col-12 text-center">
			<h3>〜人気のレシピ〜</h3>
		</div>
		<%= render "recipes/recipe_index", recipes: @recipes %>
		<div class="row justify-content-end">
			<%= link_to "もっと見る", recipes_path %>
		</div>
	<% end %>
</div>