<div class="container">
<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（再確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.radio_button :age, true %>男性
    <%= f.radio_button :age, false %>女性
  </div>


  <div class="field">
    <%= f.label :身長（cm）%>
    <em>小数点四捨五入 例:173.5cm -> 174cm</em><br />
    <%= f.text_field :height, autofocus: true, autocomplete: "height" %>cm
  </div>

  <div class="field">
    <%= f.label :体重（kg）%>
    <em>小数点四捨五入 例:69.5kg -> 70kg</em><br />
    <%= f.text_field :weight, autofocus: true, autocomplete: "weight" %>kg
  </div>

  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.text_field :age, autofocus: true, autocomplete: "age" %>歳
  </div>

  <div class="field">
    <%= f.label :運動頻度 %><br />
    <%= f.radio_button :level, "多" %>多(週5~7日)
    <%= f.radio_button :level, "普通" %>普通(週2~4日)
    <%= f.radio_button :level, "少" %>少(週2~4日)
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
