<div class="row">
	<%= form_for recipe, url: url do |f| %>
		<div class="recipe-image row justify-content-center">
			<%= attachment_image_tag recipe, :image, class: "recipe_preview", fallback: "no_image.jpg", width: "1000", height: "500" %>
		</div>
		<div class="row">
			<%= f.attachment_field :image, id: "recipe_img" %>
		</div>
		<div class="col-12 w-100 recipe-name mt-4">
			<%= f.label :name, "レシピ名" %>
			<%= f.text_field :name, size: "100%" %>
		</div>
		<div class="col-12 w-100 recipe-text">
			<%= f.label :body, "レシピ手順" %>
			<%= f.text_area :body, placeholder: "改行・段落がそのまま反映されます&#10;例)&#13;①手順１ サンプルテキストサンプルテキスト&#10;②手順２ サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト&#13;③手順３ サンプルテキストサンプルテキストサンプルテキスト&#10;④手順４ サンプルテキストサンプルテキストサンプルテキストサンプルテキスト&#13;⑤手順５ サンプルテキストサンプルテキストサンプルテキスト".html_safe, size: "100%", height: "200px" %>
		</div>
		<div class="recipe-action">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
