<div class="row">
	<%= form_for recipe, url: url do |f| %>
		<div class="recipe-image col-12">
			<%= f.label :image, "画像" %>
			<%= f.attachment_field :image, id: "recipe_img", class: "ml-5"  %>
			<%= attachment_image_tag recipe, :image, class: "recipe_preview", fallback: "no_image.jpg", size: "400x200" %>
		</div>
		<div class="col-12 w-100 recipe-name mt-4">
			<%= f.label :name, "レシピ名" %>
			<%= f.text_field :name, class: "ml-3"  %>
		</div>
		<div class="col-12 w-100 recipe-text">
			<%= f.label :body, "レシピ手順" %>
			<%= f.text_area :body, placeholder: "※改行・段落がそのまま反映されます&#10;例)&#13;①手順１ サンプルテキストサンプルテキスト&#10;②手順２ サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト&#13;③手順３ サンプルテキストサンプルテキストサンプルテキスト&#10;④手順４ サンプルテキストサンプルテキストサンプルテキストサンプルテキスト&#13;⑤手順５ サンプルテキストサンプルテキストサンプルテキスト".html_safe, size: "100x10" %>
		</div>
		<div class="recipe-action col-3 pl-5 ml-auto">
			<%= f.submit submit, class: "btn btn-outline-primary" %>
		</div>
	<% end %>
</div>
