<div class="container">
	<div class="index row">
		<h3 class="index__title col-lg-4 col-md-12 ">
			<% if params[:option] == "new" %>
			   新着順
			<% elsif params[:option] == "low_calorie" %>
			   カロリーが低い順
			<% elsif params[:option] == "high_rate" %>
			   評価が高い順
			<% elsif params[:option] == "high_protein" %>
			   たんぱく質が多い順
			<% elsif params[:option] == "high_carbo" %>
			   炭水化物が多い順
			<% elsif params[:option] == "low_fat" %>
			   脂質が少ない順
			<% elsif @search %>
				「<%= @search %>」の検索結果
			<% elsif @user %>
			   <%= @user.name %>さんのマイレシピ
			<% else %>
    		　　レシピ一覧
    	    <% end %>
    	   <span class="h5">(全<%= @recipes.count %>件)</span>
    	</h3>

  		<div class="index__search col-lg-4 col-md-5 text-right">
          <%= form_tag(recipes_path, method: :get) do %>
            <%= text_field_tag :name,"", placeholder: "レシピを検索" %>
            <%= button_tag do %>
            	<i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>

        <div class="index__sort col-lg-4 col-md-5">
    		並び替え：
			<span class="sort-box">
		        <select name="search" onChange="myfunc(this.value)" id="sort-select">
		          <option value=""></option>
		          <option value="all">並び替え解除</option>
		          <option value="new">新着順</option>
		          <option value="low_calorie">カロリーが低い順</option>
		          <option value="high_rate">評価が高い順</option>
		          <option value="high_protein">たんぱく質が多い順</option>
		          <option value="high_carbo">炭水化物が多い順</option>
		          <option value="low_fat">脂質が低い順</option>
		        </select>
		    </span>
		</div>
  	</div>
  	<%= render "recipe_index", recipes: @recipes %>
	<div class="col-4 offset-4">
		<%= paginate @recipes %>
	</div>
</div>
