<div class="recipe-show container">

	<div class="recipe-show__title row justify-content-center col-12">
		<h2><%= @recipe.name %></h2>
		<%= render "reviews/average_rate", recipe: @recipe %>
	</div>

	<div class="recipe-show__link row justify-content-around mb-3">
		<%= link_to "このレシピを消費する", genres_material_eats_path(material_id: @recipe.id), class: "btn btn-outline-primary" %>
		<% if @recipe.is_favorite(current_user) %>
			<%= link_to "お気に入りを外す", recipe_favorites_path(recipe_id: @recipe.id), method: :delete, class: "btn btn-outline-info active", "aria-pressed":true %>
		<% else %>
			<%= link_to "お気に入りに登録 ", recipe_favorites_path(recipe_id: @recipe.id), method: :post, class: "btn btn-outline-info" %>
		<% end %>
		<% if @recipe.user_id == current_user.id %>
			<%= link_to "レシピを修正する", edit_recipe_path(@recipe.id), method: :get, class: "btn btn-outline-secondary" %>
			<%= link_to "レシピを廃棄する", recipe_path(@recipe.id), method: :delete, class: "btn btn-outline-danger" %>
		<% end %>
	</div>
	
	<div class="recipe-show__content row justify-content-center">
		<div class="recipe-content__image col-md-6">
			<%= attachment_image_tag @recipe, :image, width: "100%", height: "80%", fallback: "no_image.jpg", class: "recipe-content__image rounded" %>
		</div>
		<div class="recipe-content__text col-md-6">
			<div class="row justify-content-center col-12">
				<h5>〜　作り方　〜</h5>
			</div>
			<!-- textareaの形式を継承 -->
			<%= safe_join(@recipe.body.split("\n"),tag(:br)) %>
		</div>
	</div>

	<div class="recipe-show__macro macro row justify-content-around mb-3">
		<div class="macro__nutorition nutorition col-md-3">
			<div class="nutorition__title row justify-content-center col-12">
				<h5>栄養マクロ一覧</h5>
			</div>
			<table class="macro__nutorition table">
				<tr>
					<th>カロリー</th>
					<td><%= @recipe.calorie %>kcal</td>
				</tr>
				<tr>
					<th>脂質</th>
					<td><%= @recipe.fat %>g</td>
				</tr>
				<tr>
					<th>たんぱく質</th>
					<td><%= @recipe.protein %>g</td>
				</tr>
				<tr>
					<th>炭水化物</th>
					<td><%= @recipe.carbohydrate %>g</td>
				</tr>
			</table>
		</div>

		<div class="macro__material material col-md-3">
			<div class="material__title row justify-content-center col-12">
				<h5>材料一覧</h5>
			</div>
			<% @recipe_materials.each do |recipe_material| %>
				<table class="material__index table">
					<tr>
						<th>
							<%= recipe_material.material.name %>
						</th>
						<td>
							<%= recipe_material.quantity %>g
						</td>
					</tr>
				</table>
			<% end %>
		</div>

		<div class="macro__chart chart col-md-3">
			<div class="chart__title　row justify-content-center col-12">
				<h5>栄養マクログラフ</h5>
			</div>
			<%= pie_chart @data %>
		</div>
	</div>
	<%= render "reviews/index", reviews: @reviews  %>
	<% if user_signed_in? %>
		<div class="recipe-show__comment row justify-content-end">
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
			  コメントを投稿する
			</button>
		</div>
	<% end %>
	<%= render "reviews/modal", recipe: @recipe, review: @review %>

</div>

