<% if user.calorie.blank? %>
	<p>フォーム下の<span class="btn btn-outline-success">マクロ計算</span>を押下してください</p>
<% else %>

	<h3>消費カロリー（体重維持）</h3>
		<table class="user-calorie__table shadow-lg table table-bordered">
			<tr>
				<td style="width: 30%;">消費カロリー</td>
				<td class="text-center h4"><%= user.calorie.round(1) %>kcal</td>
			</tr>
			<tr>
				<td>たんぱく質</td>
				<td class="text-center h4">
					<%= user.protein.round(1) %>g
				</td>
			</tr>
			<tr>
				<td>
					脂質
				</td>
				<td class="text-center h4">
					<%= user.fat.round(1) %>g
				</td>
			</tr>
			<tr>
				<td>炭水化物</td>
				<td class="text-center h4">
					<%= user.carbohydrate.round(1) %>g
				</td>
			</tr>
		</table>

	<h3>増量時の理想摂取カロリー</h3>
		<table class="user-calorie__table shadow-lg table table-bordered">
			<tr>
				<td style="width: 30%;">摂取カロリー</td>
				<td class="text-center h4"><%= weight_gain_calorie(user.calorie).round(1) %>kcal</td>
			</tr>
			<tr>
				<td>たんぱく質</td>
				<td class="text-center h4">
					<%= user.protein.round(1) %>g
				</td>
			</tr>
			<tr>
				<td>脂質</td>
				<td class="text-center h4">
					<%= user.fat.round(1) %>g
				</td>
			</tr>
			<tr>
				<td>炭水化物</td>
				<td class="text-center h4">
					<%= weight_gain_carbo(user.calorie, user.fat, user.protein).round(1) %>g
				</td>
			</tr>
		</table>

	<h3>減量時の理想摂取カロリー</h3>
		<table class="user-calorie__table shadow-lg table table-bordered">
			<tr>
				<td style="width: 30%;">摂取カロリー</td>
				<td class="text-center h4"><%= weight_slim_calorie(user.calorie).round(1) %>kcal</td>
			</tr>
			<tr>
				<td>たんぱく質</td>
				<td class="text-center h4">
					<%= user.protein.round(1) %>g
				</td>
			</tr>
			<tr>
				<td>脂質</td>
				<td class="text-center h4">
					<%= user.fat.round(1) %>g
				</td>
			</tr>
			<tr>
				<td>炭水化物</td>
				<td class="text-center h4">
					<%= weight_slim_carbo(user.calorie, user.fat, user.protein).round(1) %>g
				</td>
			</tr>
		</table>
<% end %>

<% if flash.any? %>
	<script type="text/javascript">
	  <% flash.each do |key, value| %>
	    <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
	    toastr.<%= type %>('<%= value %>')
	  <% end %>
</script>
<% end %>