<div class="container">
	<div class="row">
		<div class="row justify-content-center col-12 mb-4">
			<h2><%= @user.name %>さんのマイページ</h2>
		</div>
		<div class="col-md-4">
			<%= form_with(model: @user, url: user_path(protein: @user.protein, fat: @user.fat, carbohydrate: @user.carbohydrate, calorie: @user.calorie), method: :patch, remote: true) do |f| %>
				<div class="field">
					<%= f.label :ユーザ名 %><br />
					<%= f.text_field :name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :メールアドレス %><br />
					<%= f.text_field :email, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :性別 %><br />
					<%= f.radio_button :sex, "true" %>男
					<%= f.radio_button :sex, "false" %>女
				</div>
				<div class="field">
					<%= f.label :年齢 %><br />
					<%= f.text_field :age, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :身長（cm） %><br />
					<%= f.text_field :height, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :体重（kg） %><br />
					<%= f.text_field :weight, autofocus: true %>
				</div>
				<div class="field">
				    <%= f.label :"運動頻度(意識的に運動している日／週)" %><br />
				    <%= f.radio_button :level, "多" %>多(週5~7日)<br>
				    <%= f.radio_button :level, "普通" %>普通(週2~4日)<br>
				    <%= f.radio_button :level, "少" %>少(週0~1日)<br>
			  	</div>
			  	<div class="actions">
			  		<%= f.submit "マクロ計算", class: "btn btn-outline-success col-12 mb-3" %>
			  		<%= link_to "退会する", withdraw_user_path, method: :get, class: "btn btn-outline-danger col-12" %>
			  	</div>
			<% end %>
		</div>

		<div class="user-calorie col-md-8" id="user-calorie">
			<%= render "calorie", user: @user %>
		</div>
	</div>

	<div class="row" id="calendar">
	
	</div>
	<h3 class="col-12 text-center m-4"><%= current_user.name %>さんの投稿一覧</h3>
	<%= render "recipes/recipe_index", recipes: @recipes %>
	<div class="col-4 offset-4">
		<%= paginate @recipes %>
	</div>
</div>

