<div class="container">
	<div class="row">
		<div class="row justify-content-center col-12 mb-4">
			<h2><%= @user.name %>さんのマイページ</h2>
		</div>
		<div class="col-md-4">
			<%= form_for @user, url: user_path(protein: @user.protein, fat: @user.fat, carbohydrate: @user.carbohydrate, calorie: @user.calorie), method: :patch do |f| %>
				<div class="field">
					<%= f.label :ユーザ名 %><br />
					<%= f.text_field :name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :メールアドレス %><br />
					<%= f.text_field :email, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :性別 %><br />
					<%= f.radio_button :sex, "true" %>男
					<%= f.radio_button :sex, "false" %>女
				</div>
				<div class="field">
					<%= f.label :年齢 %><br />
					<%= f.text_field :age, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :身長（cm） %><br />
					<%= f.text_field :height, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :体重（kg） %><br />
					<%= f.text_field :weight, autofocus: true %>
				</div>
				<div class="field">
				    <%= f.label :"運動頻度(意識的に運動している日／週)" %><br />
				    <%= f.radio_button :level, "多" %>多(週5~7日)<br>
				    <%= f.radio_button :level, "普通" %>普通(週2~4日)<br>
				    <%= f.radio_button :level, "少" %>少(週0~1日)<br>
			  	</div>
			  	<div class="user_actions">
			  		<%= f.submit "マクロ計算", class: "btn btn-outline-success col-12 mb-3" %>
			  		<%= link_to "退会する", withdraw_user_path, method: :get, class: "btn btn-outline-danger col-12" %>
			  	</div>
			<% end %>
		</div>

		<div class="user_calorie col-md-8">
			<% if @user.calorie.blank? %>
				<h3><%= @user.name %>さんの必要摂取マクロ</h3>
				<p>フォーム下の<span class="btn btn-outline-success">マクロ計算</span>を押下してください</p>
			<% else %>

				<h3>消費カロリー（体重維持）</h3>
					<table class="table table-bordered table-success">
						<tr>
							<td style="width: 30%;">消費カロリー</td>
							<td><%= @user.calorie.round(1) %>kcal</td>
						</tr>
						<tr>
							<td colspan="2" class="table-light"style="text-align: center;">栄養マクロ内訳</td>
						</tr>
						<tr>
							<td>たんぱく質</td>
							<td>
								<%= @user.protein.round(1) %>g
							</td>
						</tr>
						<tr>
							<td>
								脂質
							</td>
							<td>
								<%= @user.fat.round(1) %>g
							</td>
						</tr>
						<tr>
							<td>炭水化物</td>
							<td>
								<%= @user.carbohydrate.round(1) %>g
							</td>
						</tr>
					</table>

				<h3>増量時の理想摂取カロリー</h3>
					<table class="table table-bordered table-success">
						<tr>
							<td style="width: 30%;">理想摂取カロリー</td>
							<td><%= weight_gain_calorie(@user.calorie).round(1) %>kcal</td>
						</tr>
						<tr>
							<td colspan="2" class="table-light"style="text-align: center;">栄養マクロ内訳</td>
						</tr>
						<tr>
							<td>たんぱく質</td>
							<td>
								<%= @user.protein.round(1) %>g
							</td>
						</tr>
						<tr>
							<td>脂質</td>
							<td>
								<%= @user.fat.round(1) %>g
							</td>
						</tr>
						<tr>
							<td>炭水化物</td>
							<td>
								<%= weight_gain_carbo(@user.calorie, @user.fat, @user.protein).round(1) %>g
							</td>
						</tr>
					</table>

				<h3>減量時の理想摂取カロリー</h3>
					<table class="table table-bordered table-success">
						<tr>
							<td style="width: 30%;">理想摂取カロリー</td>
							<td><%= weight_slim_calorie(@user.calorie).round(1) %>kcal</td>
						</tr>
						<tr>
							<td colspan="2" class="table-light"style="text-align: center;">栄養マクロ内訳</td>
						</tr>
						<tr>
							<td>たんぱく質</td>
							<td>
								<%= @user.protein.round(1) %>g
							</td>
						</tr>
						<tr>
							<td>脂質</td>
							<td>
								<%= @user.fat.round(1) %>g
							</td>
						</tr>
						<tr>
							<td>炭水化物</td>
							<td>
								<%= weight_slim_carbo(@user.calorie, @user.fat, @user.protein).round(1) %>g
							</td>
						</tr>
					</table>
			<% end %>
		</div>
	</div>
	<h3 class="col-12 text-center m-4"><%= current_user.name %>さんの投稿一覧</h3>
	<%= render "recipes/recipe_index", recipes: @recipes %>
</div>

