<div class="container">
	<div id="message">
		<%= render "messages/index", messages: @messages %>
	</div>
	<div class="row justify-content-end ">
		<div class="col-12">
		<%= form_with(model: @message, url: user_messages_path(user_id: current_user.id, chat_id: @chat), method: :post ) do |f| %>
			<% if current_user.id != 6 %>
				<%= f.text_field :question, class: "col-10" %>
		 	<% else %>
		 		<%= f.text_field :answer, class: "col-10" %>
		 	<% end %>
		 		<%= f.submit"送信", class: "col-1 btn btn-outline-primary" %>
	 	<% end %>
	 </div>
	</div>
</div>