<div class="container">
	<div class="row">
		<%= form_with(model: @message, url: user_messages_path(user_id: current_user.id, chat_id: @chat), method: :post) do |f| %>
			<% if current_user.id != 6 %>
				<%= f.text_field :question %>
		 	<% else %>
		 		<%= f.text_field :answer %>
		 	<% end %>
		 		<%= f.submit"送信", class: "btn btn-outline-primary" %>
	 	<% end %>
	</div>
	<div class="row" id="message">
		<%= render "messages/index", messages: @messages %>
	</div>
</div>