<div class="recipe-material container">
	<div class="recipe-material__title row">
		<h3 class="col-8 offset-2 text-center">レシピ材料選択</h3>
	</div>
		<!-- ジャンル選択 -->
	<div class="recipe-material__form row">
		<div class="col-12">
			<p>ジャンル名</p>
			<%= form_tag(recipe_recipe_materials_path(recipe_id: @recipe.id), method: :post) do %>
					<% if @genre %>
						<%= select_tag "genre_id", options_from_collection_for_select(Genre.where(status: true, user_id: current_user.id), :id, :name ), include_blank: "#{@genre.name}で絞り込み" %>
					<% else %>
						<%= select_tag "genre_id", options_from_collection_for_select(Genre.where(status: true, user_id: current_user.id), :id, :name ), include_blank: "ジャンル選択" %>
					<% end %>
					<%= submit_tag "ジャンル絞り込み" %>
			<% end %>
		</div>

		<div class="col-12 mt-4 new-recipe-material">
		<!-- 材料選択 -->
			<%= form_with(model:  @recipe_material, url: recipe_recipe_materials_path, method: :post, remote: true) do |f| %>
				<div class="new-recipe-material">
					<%= f.label :材料名 %><br>
					<% if @genre %>
						<%= f.collection_select :material_id, Material.where(user_id: current_user.id, genre_id: @genre), :id, :name, include_blank: "材料選択" %>
					<% else %>
						<%= f.collection_select :material_id, Material.where(user_id: current_user.id ), :id, :name, include_blank: "材料選択" %>
					<% end %>
						<%= f.label :quantity, '数量（グラム）' %>
						<%= f.text_field :quantity, autofocus: true %>g
					<%= f.submit "材料をレシピに入れる", class: "btn btn-outline-secondary ml-4 rounded-pill" %>
					<%= link_to "レシピを確認する", recipe_path(@recipe.id), class: "btn btn-outline-primary rounded-pill" %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="index-recipe-materials row mt-4" id="recipe-materials-index">
		<%= render "index", sum_calorie: @sum_calorie, recipe_materials: @recipe_materials %>
	</div>
</div>