<div class="container">
	<div class="row">
		<div class="col-md-6 justify-content-center">
			<h3>レシピに使用する材料を入れてください</h3>
			<!-- ジャンル選択 -->
			<%= form_tag(recipe_recipe_materials_path(recipe_id: @recipe.id), method: :post) do %>
					<% if @genre %>
						<%= select_tag "genre_id", options_from_collection_for_select(Genre.where(status: true, user_id: current_user.id), :id, :name ), include_blank: "#{@genre.name}で絞り込み" %>
					<% else %>
						<%= select_tag "genre_id", options_from_collection_for_select(Genre.where(status: true, user_id: current_user.id), :id, :name ), include_blank: "ジャンル選択" %>
					<% end %>
					<%= submit_tag "ジャンル絞り込み" %>
			<% end %>
			<!-- 材料選択 -->
			<%= form_with(model:  @recipe_material, local: true, url: recipe_recipe_materials_path, method: :post) do |f| %>
				<div class="new-recipe-materials">
					<%= f.label :材料名 %><br>
					<% if @genre %>
						<%= f.collection_select :material_id, Material.where(user_id: current_user.id, genre_id: @genre), :id, :name, include_blank: "材料選択" %>
					<% else %>
						<%= f.collection_select :material_id, Material.where(user_id: current_user.id ), :id, :name, include_blank: "材料選択" %>
					<% end %>
						<%= f.label :quantity, '数量（グラム）' %>
						<%= f.text_field :quantity, autofocus: true %>g
				</div>
				<div class="recipe-materials-action">
					<%= f.submit "材料をレシピに入れる", class: "btn btn-primary" %>
					<%= link_to "材料を登録する", genres_materials_path %>
				</div>
			<% end %>

			<div class="index-recipe-materials">
				<h3>レシピ材料一覧</h3>
					<% if @recipe_materials.count == 0 %>
						<p>材料が登録されていません</p>
					<% else %>
						<% @recipe_materials.each do |recipe_material| %>
						<p>
								<%= recipe_material.material.name %>
							</p>
							<p>
								<%= recipe_material.quantity %>
							</p>
							<p>
								<%= link_to "削除", recipe_recipe_material_path(id: recipe_material.id), method: :delete, class: "btn btn-danger" %>
							</p>
						<% end %>
					<% end %>
			</div>
			<div class="recipe-action">
				<%= link_to "レシピを確認する", recipe_path(@recipe.id) %>
			</div>
		</div>
	</div>
</div>