<table class="table table">
	<thead>
		<tr>
			<th>ジャンル</th>
			<th>材料(100g)</th>
			<th>たんぱく質(100g/g)</th>
			<th>炭水化物(100g/g)</th>
			<th>脂質(100g/g)</th>
			<th>カロリー(100g/kcal)</th>
		</tr>
	</thead>
	<tbody>
		<% materials.each do |material| %>
		<tr>
			<td>
				<%= material.genre.name %>
			</td>
			<td>
				<%= material.name %>
			</td>
			<td>
				<%= material.protein %>g
			</td>
			<td>
				<%= material.carbohydrate %>g
			</td>
			<td>
				<%= material.fat %>g
			</td>
			<td>
				<%= material.calorie.round(1) %>kcal
			</td>
			<td>
				<%= link_to "削除", genres_material_path(id: material.id, genre_id: material.genre_id), method: :delete, data: {confirm: "#{material.name}を削除します"}, remote: true, class: "btn btn-outline-danger" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="d-flex justify-content-center">
	<%= paginate materials %>
</div>

 <% if flash.any? %>
	<script type="text/javascript">
	  <% flash.each do |key, value| %>
	    <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
	    toastr.<%= type %>('<%= value %>')
	  <% end %>
	</script>
<% end %>