<div class="container" id="post_material">
	<div class="row">
		<div class="col-md-2">
			<h3>材料登録</h3>
			<strong>100g換算で入力してください<strong>
			<%= form_for @addmaterial, url: users_genres_materials_path, method: :post do |f| %>
			<div class="field">
				<%= f.label :ジャンル %><br>
				<%= f.collection_select :genre_id, Genre.where(status: true), :id, :name, include_blank: "ジャンル選択" %>
			</div>

			<div class="field">
				<%= f.label :材料名 %><br>
				<%= f.text_field :name, autofocus: true, placeholder: "材料名を入力" %>
			</div>

			<div class="field">
				<%= f.label :たんぱく質 %><br>
			<%= f.text_field :protein, autofocus: true, placeholder: "たんぱく質を入力" %>
			</div>

			<div class="field">
				<%= f.label :炭水化物 %><br>
				<%= f.text_field :carbohydrate, autofocus: true, placeholder: "炭水化物を入力" %>
			</div>

			<div class="field">
				<%= f.label :脂質 %><br>
				<%= f.text_field :fat, autofocus: true, placeholder: "脂質を入力" %>
			</div class="field">

			<%= f.submit "登録", class: "btn btn-primary" %>

			<span>
				<%= link_to "ジャンルを追加", new_users_genres_path, class: "label label-primary" %>
			</span>
			<% end %>
		</div>

		<div class="index_materials col-md-8">
			<h3>登録した材料</h3>
			<div id="index_materials__edit">
				<table class="table table inverse">
					<thead>
						<tr>
							<th>ジャンル</th>
							<th>材料(100g)</th>
							<th>たんぱく質(100g/g)</th>
							<th>炭水化物(100g/g)</th>
							<th>脂質(100g/g)</th>
							<th>カロリー(100g/kcal)</th>
						</tr>
					</thead>
					<tbody>
						<% @materials.each do |material| %>
					<%= form_for material, url: users_genres_material_path(material.id), method: :patch do |f| %>
						<tr>
							<td>
								<%= f.collection_select :genre_id, Genre.where(status: true), :id, :name %>
							</td>
							<td class="material-field">
								<%= f.text_field :name, autofocus: true, placeholder: "材料名を入力" %>
							</td>
							<td>
								<div class="input-group material-field">
								<%= f.text_field :protein, autofocus: true, placeholder: "たんぱく質" %>
								<span class="input-group-addon">g</span>
								</div>
							</td>
							<td>
								<div class="input-group material-field">
								<%= f.text_field :carbohydrate, autofocus: true, placeholder: "炭水化物" %>
								<span class="input-group-addon">g</span>
								</div>
							</td>
							<td>
								<div class="input-group material-field">
								<%= f.text_field :fat, autofocus: true, placeholder: "脂質" %><span class="input-group-addon">g</span>
								</div>
							</td>
							<td>
								<%= material.calorie %>kcal
							</td>
							<td>
								<%= f.submit "更新", class: "btn btn-success" %>
							</td>
							<td>
								<%= link_to "削除", users_genres_material_path(material), method: :delete, class: "btn btn-danger" %>
							</td>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

