
	<% unless current_user.calorie.present? %>
		<%= link_to "#{current_user.name}さんのカロリーを計算する", user_path(current_user.id), class: "col-12 btn btn-outline-primary btn-lg rounded-pill shadow-lg " %>
	<% else %>

		<div class="eat__target rounded-pill">
			<h2 class="text-center pt-3">〜　増量　〜</h2>
			<% if weight_gain_calorie(current_user.calorie).to_f < eat_calorie.to_f %>
				<h1 class="pt-2 pb-4 text-center text-danger">食べ過ぎです！</h1>
			<% else %>
				<h1 class="pt-2 pb-4 text-center">
					あと<%= target_calorie_gain(eat_calorie, current_user.calorie).to_f.round(1)  %>kcal
				</h1>
			<% end %>
				<div class="gain__target text-center">
					<h4>目標摂取<span class="ml-5"><%= weight_gain_calorie(current_user.calorie).round(1) %>kcal</span></h4>
					<p class="border-bottom">たんぱく質　<%= target_protein(eat_protein, current_user.protein).to_f.round(1)  %>g</p>
					<p class="border-bottom">炭水化物　<%= target_carbo_gain(eat_carbo, current_user.calorie, current_user.fat, current_user.protein).to_f.round(1)  %>g</p>
					<p class="border-bottom">脂質 <%= target_fat(eat_fat, current_user.fat).to_f.round(1)  %>g</p>
				</div>
		</div>

		<div class="eat__target rounded-pill">
			<h2 class="text-center pt-3">〜　減量　〜</h2>
			<% if weight_slim_calorie(current_user.calorie).to_f < eat_calorie.to_f %>
				<h1 class="pt-2 pb-4 text-center text-danger">食べ過ぎです！</h1>
			<% else %>
				<h1 class="pt-2 pb-4 text-center">
					あと<%= target_calorie_slim(eat_calorie, current_user.calorie).to_f.round(1)  %>kcal
				</h1>
			<% end %>
				<div class="gain__target text-center">
					<h4>目標摂取<span class="ml-5"><%= weight_slim_calorie(current_user.calorie).round(1) %>kcal</span></h4>
					<p class="border-bottom">たんぱく質　<%= target_protein(eat_protein, current_user.protein).to_f.round(1)  %>g</p>
					<p class="border-bottom">炭水化物　<%= target_carbo_slim(eat_carbo, current_user.calorie, current_user.fat, current_user.protein).to_f.round(1)  %>g</p>
					<p class="border-bottom">脂質 <%= target_fat(eat_fat, current_user.fat).to_f.round(1)  %>g</p>
				</div>
		</div>
	<% end %>
