<% if current_user.eats.count >= 1 %>
	<table class="table">
		<thead>
			<tr>
				<th>材料 or レシピ</th>
				<th>カロリー(kcal)</th>
				<th>たんぱく質(g)</th>
				<th>炭水化物(g)</th>
				<th>脂質(g)</th>
				<th>数量(g)</th>
			</tr>
		</thead>
		<tbody>
			<% current_user.eats.each do |eat| %>
				<% if eat.material.present? || eat.recipe.present? %>
					<tr>
						<% if eat.material.present? %>
							<td>
								<%= eat.material.name %>
							</td>
						<% elsif eat.recipe.present? %>
							<td>
								<%= eat.recipe.name %>
							</td>
						<% end %>
						<td><%= eat.calorie.to_f.round(1) %>kcal</td>
						<td><%= eat.protein.to_f.round(1) %>g</td>
						<td><%= eat.carbohydrate.to_f.round(1) %>g</td>
						<td><%= eat.fat.to_f.round(1) %>g</td>
						<td><%= eat.quantity.to_f.round(1) %>g</td>
						<td>
							<%= link_to "削除", user_eat_path(user_id: current_user.id, id: eat.id), method: :delete, data: {confirm: "削除しますか？"}, remote: true, class: "btn btn-outline-danger" %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>

<div class="d-flex justify-content-center">
	<%= paginate eats %>
</div>

<% if flash.any? %>
        <script type="text/javascript">
          <% flash.each do |key, value| %>
            <% type = key.to_s.gsub('alert', 'error') %>
            toastr.<%= type %>('<%= value %>')
          <% end %>
        </script>
      <% end %>