
<div class="eat__target rounded shadow-lg">
	<h2 class="text-center pt-3"><%= current_user.name %>さんの累計摂取量</h2>
		<h1 class="pt-2 pb-4 text-center">
			<%= eat_calorie.to_f.round(1) %>kcal
		</h1>
		<div class="gain__target text-center">
			<h4>マクロ内訳</h4>
			<p class="">たんぱく質　<%= eat_protein.to_f.round(1) %>g</p>
			<p class="">炭水化物　<%= eat_carbo.to_f.round(1) %>g</p>
			<p class="">脂質 <%= eat_fat.to_f.round(1) %>g</p>
		</div>
</div>
