<!DOCTYPE html>
<html>
  <head>
    <title>Bodeposit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background-image">
      <nav class="navbar navbar-expand navbar-gray fixed-top header" style="z-index: -300px;">

        <% if user_signed_in? %>
          <%= link_to user_top_path(current_user.id) do %>
            <%= image_tag "61979938-724c-4708-b857-6be04fbd8675_200x200.png",class: "img-responsive" %>
          <% end %>
        <% else %>
          <%= link_to "/" do %>
            <%= image_tag "61979938-724c-4708-b857-6be04fbd8675_200x200.png",class: "img-responsive" %>
          <% end %>
        <% end %>

        <ul class="nav navbar-nav ml-auto header__nav">
          <% if user_signed_in? %>
            <li class="header__nav--signin nav-item">
              <%= link_to "レシピを探す", recipe_index_path, class: "nav-link" %>
            </li>
            <li class="header__nav--signin nav-item">
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="header__nav--signin nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="header__nav--signout nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="header__nav--signout nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="header__nav--signout nav-item">
              <%= link_to "レシピを探す", recipe_index_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </nav>

    <% if flash.any? %>
      <sciript type="text/javascript">
        <% flash.each do |key, value| %>
          <% key = "success" if key == "notice" %>
          <% key = "error" if key == "alert" %>
          toastr['<%= key %>']('<%= value %>')
        <% end %>
      </sciript>
    <% end %>
    <div style="padding-bottom: 200px;">
      
    </div>
    <%= yield %>
    </div>
  </body>
</html>
