<!DOCTYPE html>
<html>
  <head>
    <title>Bodeposit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  </head>

  <body>
      <nav class="header navbar navbar-expand navbar-light fixed-top mx-0">

        <% if user_signed_in? %>
          <%= link_to user_top_path(current_user.id), class: "navbar-brand d-inline-block align-top" do %>
            <i class="fas fa-dumbbell" style="font-size: 30px;">Bodeposit</i>
          <% end %>
        <% else %>
          <%= link_to "/", class: "navbar-brand d-inline-block align-top" do %>
            <i class="fas fa-dumbbell" style="font-size: 30px;">Bodeposit</i>
          <% end %>
        <% end %>

        <ul class="header__nav navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="header__nav--signin nav-item active">
              <%= link_to recipes_path, class: "nav-link" do %>
                <i class="fas fa-search">レシピを探す</i>
              <% end %>
            </li>
            <li class="header__nav--signin nav-item active">
              <%= link_to new_recipe_path, class: "nav-link" do %>
                <i class="fas fa-utensils">レシピを投稿する</i>
              <% end %>
            </li>
            <li class="header__nav--signin nav-item active">
              <%= link_to user_path(current_user.id), class: "nav-link" do %>
                <i class="fas fa-address-card">マイページ</i>
              <% end %>
            </li>
            <li class="header__nav--signin nav-item active">
              <%= link_to genres_materials_path, class: "nav-link" do %>
                <i class="fas fa-apple-alt">材料登録</i>
              <% end %>
            </li>
            <li class="header__nav--signin nav-item active">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fas fa-sign-out-alt">ログアウト</i>
              <% end %>
            </li>
          <% else %>
            <li class="header__nav--signout nav-item active">
              <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="fas fa-user-plus">新規登録</i>
              <% end %>
            </li>
            <li class="header__nav--signout nav-item active">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fas fa-sign-in-alt">ログイン</i>
              <% end %>
            </li>
            <li class="header__nav--signout nav-item active">
              <%= link_to recipes_path, class: "nav-link" do %>
                <i class="fas fa-utensils">レシピを探す</i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>

      <%= yield %>

      <% if flash.any? %>
        <script type="text/javascript">
          <% flash.each do |key, value| %>
            <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
            toastr.<%= type %>('<%= value %>')
          <% end %>
        </script>
      <% end %>

  </body>
</html>
